<div style="margin=left:5em; margin-top:5em">
    <h1>Welcome to Employment History</h1>
    <h3> <a class="nav-link" href="/register">Create an Account </a></h3>
    <h3> <a class="nav-link" href="/join">Join a Company</a> </a></h3>
</div>
